.head {
  width: 100%;
  padding: 10px;
  background-color: #DC143C;
  border-bottom: 1px solid rgba(204,204,204,.6);
  color: #fff;
}

.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.image img {
  width: 100%;
  height: 100%;
}
